<% include ../head.ejs %>
    <% include ../navbar.ejs %>
        <main role="main" class="container-fluid">
            <div class="starter-template">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Clienti</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary" onclick="location.href = '/reload/?module=customers'">Ricarica dati</button>
                            <button class="btn btn-sm btn-outline-secondary" id="btnExport">Esporta</button>
                        </div>
                    </div>
                </div>


                <div>
                <table  id="output"></table>
                </div>
                <script type="text/javascript" charset="utf-8">
                $('#output').DataTable( {
					ajax: '/customers-local.json',
					columns: [
						{ 
							data: "customerid",
							title: "Customer ID" 
						},
						{ data: "firstname" },
						{ data: "lastname" }
					]
				});
                </script>
            
            </div>

        </main>
        <!-- /.container -->
        <% include ../footer.ejs %>
