<% include ../head.ejs %>
<% include ../navbar.ejs %>
<main role="main" class="container-fluid">
    <div class="starter-template">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Analytics Made Easy</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary" onclick="location.href = '/reload'">Ricarica dati</button>
                    <button class="btn btn-sm btn-outline-secondary">Esporta</button>
                    <button class="btn btn-sm btn-outline-secondary">Condividi</button>
                </div>
            </div>
        </div>

        <p>Home page</p>
    
        <script type="text/javascript">

            $(function () {

                $("#btnExport").click(function(){
                    var $table = $('.pvtRendererArea');
                    $table.removeData();

                    $table.table2excel ({
                        name: "Fatture",
                        filename: "fatture"
                    }); 
                });

                var tpl = $.pivotUtilities.aggregatorTemplates;

                Papa.parse("/fatture-local.csv", {
                    download: true,
                    skipEmptyLines: true,
                    complete: function (parsed) {
                        $("#output").pivotUI(parsed.data, {
                            rows: ['Agente', 'Codice cliente'],
                            cols: ['Causale'],
                            aggregators: {
                                "Valore": function () {
                                    return tpl.sum()(["Importo (previsione)"])
                                },
                                "Quantità": function () {
                                    return tpl.sum()(["Quantità (previsione)"])
                                }
                            },
                            hiddenFromDragDrop: ['Id', 'Quantità', 'Valore', 'End']
                        });
                    }
                });
            });
        </script>

        <!-- PivotTable -->
        <div id="output"></div>
    </div>

</main><!-- /.container -->
<% include ../footer.ejs %>
