<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Analytics Made Easy">
    <meta name="author" content="Analytics Made Easy">

    <title>Analytics Made Easy</title>
</head>
<body>
  <script>
    window.onload = function () {
      window.location = '/views';
    }
  </script>
</body>
</html>