<div class="d-flex justify-content-end pb-3 d-block d-lg-none">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-success reload">Reload data</button>
    <button type="button" class="btn btn-outline-primary down-csv">Download CSV</button>
  </div>
</div>
