<div class="col-lg-3 col-xl-2 d-none d-lg-flex flex-column bg-light shadow sidebar p-0">
  <div id="side-head" class="py-4 px-3">
    <h5 id="side-title" class="m-0"></h5>
  </div>
  <div class="flex-fill overflow-auto">
    <ul id="side-list" class="list-group list-group-flush">
      
    </ul>
  </div>
  <div class="p-3 border-top">
    <button type="button" class="btn btn-outline-success btn-block reload">Reload data</button>
    <button type="button" class="btn btn-outline-primary btn-block down-csv">Download CSV</button>
  </div>
</div>
