<% include ../header.ejs %>

<% include ../components/nav.ejs %>

<div class="container-fluid m-0">
	<div class="row">
		<%- include ../components/sidebar.ejs -%>
		<div class="col col-lg-9 col-xl-10 px-4 py-3">
			<%- include ../components/action-button.ejs -%>
			<div class="">
				<canvas id="output"></canvas>
			</div>
		</div>
	</div>
</div>


<script>
jQuery.ajax({
	type: 'GET',
	dataType: 'json',
	url: '/get/local/json/bar-chart/data/' + sheet,
	success: function (output) {

		var ctx = document.getElementById("output");

		ctx.height = 130;
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: output.k,
				datasets: [{
					label: 'Example',
					data: output.v,
					backgroundColor: 'rgba(54, 162, 235, 0.2)'
				}]
			},
		});
	},
	error: function (err) {
		console.log(err)
	}
});
</script>

<script src="/js/action-button.js" charset="utf-8"></script>
<script src="/js/sidebar.js" charset="utf-8"></script>

<% include ../footer.ejs %>
