body { 
    padding-top: 4rem;
}

.starter-template {
    padding: 0.8rem;
    text-align: left;
}

.h3 {
    text-transform: uppercase;
}

.btn {
    margin-left: 1rem;
}

.nav-link {
    text-transform: capitalize;
}
