<!doctype html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Analytics Made Easy">
        <meta name="author" content="Analytics Made Easy">
        <link rel="icon" href="https://getbootstrap.com/favicon.ico">

        <title>Analytics Made Easy</title>

        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Charts.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link href="/views/template/css/custom.css" rel="stylesheet">
        
        <!-- DataTables -->        
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
		
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
		
		<!-- Charts.js -->
        <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>

    </head>
    <body>
	<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Menu -->
		<div class="collapse navbar-collapse" id="nav-content">   
			
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Straight tables</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="/view/straight-table/orders">Orders</a>
						<a class="dropdown-item" href="/view/straight-table/customers">Customers</a>
					</div>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bar charts</a>
					<div class="dropdown-menu" aria-labelledby="dropdown02">                  
						<a class="dropdown-item" href="/view/bar-chart/orders">Orders</a>
					</div>
				</li>
			</ul>
		</div>

		<!-- Logo -->
		<a class="navbar-brand justify-content-end" href="/">Analytics Made Easy</a>

	</nav>
	<main role="main" class="container-fluid">
		<div class="starter-template">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

				<h1 class="h3"></h1>
				<script type="text/javascript" charset="utf-8">
					var url = window.location.pathname.split('/');
					var sheet = url[url.length - 1];
					var type = url[url.length - 2];
					$('.h3').html(sheet + ' (' + type.replace('-', ' ') + ')');
					
					function reload_data (sheet) {
						location.href = '/reload/' + type + '/' + sheet;
					}
					
					function download_data (sheet) {
						location.href = '/get/local/csv/data/' + type + '/' + sheet;
					}
					
				</script>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group mr-2">
						<button class="btn btn-sm btn-outline-secondary" onclick="reload_data (sheet);">Reload data</button>
						<button class="btn btn-sm btn-outline-secondary" onclick="download_data (sheet);">Download in CSV format</button>
					</div>
				</div>
			</div>
		</div>
