<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="nav-content">   
        
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Summary tables</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/view/?module=orders">Orders</a>
                    <a class="dropdown-item" href="/view/?module=customers">Customers</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charts</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">                  
                    <a class="dropdown-item" href="/view/?module=orders-trend-chart">Orders trend chart</a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Logo -->
    <a class="navbar-brand justify-content-end" href="/">Analytics Made Easy</a>

</nav>
